@page "/profile/{id:int}";
@using SocialScoresFrontend.Components.Infra.Requests
@using SocialScoresFrontend.Components.Infra.Utils
@using SocialScoresFrontend.Components.Models
@inject AccountRequests AccountRequests
@inject PostRequests PostRequests
@inject NavigationManager Navigation

<h3>Profile</h3>

@if(loaded != null)
{
    <div>
        <h4>Account Details</h4>
        @if(profilePicture != null)
        {
            <img src="@profilePicture" alt="Preview" style="max-width: 100%; height: auto;" />
        }
        else
        {
            <img src="/Unknown.png" alt="Post image" class="post-image" />
        }
        <div>
            <label for="imageUpload">Change Profile Picture</label>
            <InputFile OnChange="HandleFileSelected" />
        </div>

        <p><strong>Username:</strong> @loaded?.Username</p>
        <p><strong>Email:</strong> @loaded?.Email</p>
        <p><UpDownVoteComponent Account="loaded" /></p>
    </div>

    <div style="display:flex;">
        <button class="btn btn-primary" @onclick="NavigateToNewPost">
            <i class="fa fa-plus"></i> New Post
        </button>

        <SocialScoresFrontend.Components.Infra.UI.PostSearchComponent/>
    </div>
    
    <!-- Posts Section -->
    <div>
        <h4>User Posts</h4>
        @if (posts != null && posts?.Length != 0)
        {
            foreach (var post in posts)
            {
                <div class="post">
                    @* <img src="/favicon.png" alt="Post image" class="post-image" /> *@
                    @if(post.Imagedata != null && post.MimeType != null)
                    {
                        <img src="@ConvertByteToImageString(post.Imagedata, post.MimeType)" alt="Preview" style="max-width: 100%; height: auto;" />
                    }

                    <p class="caption">@post.Text</p>
                    <p class="caption">@post.TimeCreated.ToShortDateString()</p>
                </div>
            }
        }
        else
        {
            <p>No posts available.</p>
        }
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Assert.NotNull(Id, "The Id provided to the pofile page was not valid");
        loaded = await AccountRequests.GetAccount(Id!.Value);

        posts = await PostRequests.GetPostsForAccount(Id.Value);
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            FileData fileData = new FileData();
            fileData.MimeType = file.ContentType;
            fileData.FileName = file.Name;
            fileData.Data = new byte[file.Size];
            await file.OpenReadStream(maxAllowedSize: 1024000).ReadAsync(fileData.Data); // 1 MB max size

			await AccountRequests.UploadProfilePicture(Id!.Value, fileData);
			FileData processedProfilePicture = await AccountRequests.GetProfilePicture(Id!.Value);
			profilePicture = $"data:{processedProfilePicture.MimeType};base64,{Convert.ToBase64String(processedProfilePicture.Data)}";

			await InvokeAsync(StateHasChanged);
        }
    }

    private void NavigateToNewPost()
    {
        Navigation.NavigateTo("/newpost/"+Id);
    }

    private string ConvertByteToImageString(byte[] data, string mimeType)
    {
        return $"data:{mimeType};base64,{Convert.ToBase64String(data)}";
    }

    private Account? loaded;
    private Post[]? posts;
    private string? profilePicture;
}
